/*.overview{
  color: black;
  width: 100vw;
  height: 100vh;
  border: 1px solid red;
}


.full{
  width: 100%;
  height: 100%;
}

.logo{
  font-size: 1.5vw;
  color: white;
}

.sub-title{
  font-weight: 500;
  border-right: 1px solid gray;
}

.actions{
  border-right: 1px solid gray;
  .item{
    margin-left: 20%;

    &:first-of-type{
      margin-top: 20px;
    }
  }
}

.header{
  display: block;
  border: 1px solid #d8d8d8;
  border-right: none;
  border-left: none;
  border-top: none;
  height: 60px;
  width: 100%;
  .path{
    font-size: 1.5vw;
  }

  .search{
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    height: 80%;
    width: 40%;
    min-width: 200px;
    min-height: 35px;
    input{
      margin-left: 15px;
      border: none;
      font-size: 1.2vw;
      height: 90%;
      &:focus{
        outline: none;
      }
    }

    i{
      margin-right: 15px;;
    }
  }

  .right{
    i{
    }
  }
}

.u-item{
  display: block;
  width: 28px;
  height: 32px;
  border: 1px solid #e9e9e9;
}

.datatable-header .datatable-header-inner{
  border-bottom: 1px solid red;
}


.action-but .mat-raised-button, .mat-primary{
  background-color: #d8d8d8;
}

.load-more{
  width: 80%;
}

.load-more .mat-raised-button{
  position: absolute;
  margin-top: 80px;
  width: 10vw;
  min-width: 150px;
  background-color: #4a4a4a;
  color: white;
}*/


.container {
  margin-left: 250px;
  padding: 40px 0  20px 0;
  .top {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    .topleft {
      color: #666A6E;
      width: 20%;
      margin: 10px 0 0 20px;
      padding-left: 20px;
    }
    .topmid {
      width: 50%;
      position: relative;
      img {
        left: 5px;
        top: 12px;
        position: absolute;
      }
      .midinput {
        height: 20px;
        width: 100%;
        outline: 0;
        padding: 7px;
        padding-left: 20px;
      }
    }
    .topright {
      display: flex;
      width: 20%;
      box-sizing: border-box;
      padding-left: 60px;
      img:nth-of-type(1) {
        width: 16px;
        height: 20px;
        margin-top: 3px;
      }
      img:nth-of-type(2) {
        width: 20px;
        height: 20px;
        margin-left: 10px;
        margin-top: 3px;
      }
      img:nth-of-type(3) {
        width: 12px;
        height: 9px;
        margin-left: 10px;
        margin-top: 8px;
      }
    }
  }
  .garyclor {
    color: #666A6E;
  }
  .content{
    width: 100%;
  }
}

















