<div class="leftnav">
  <div class="userbox">
    <img src="./assets/images/oval@2x.png">
    <!--<div class="username">-->
      <!--<label>Name:</label>-->
      <!--<div>user</div>-->
    <!--</div>-->
    <div class="useraddress">
      <label>ADDRESS:</label>
      <div>{{currentAccount}}</div>
    </div>
  </div>
  <nav class="leftmid">
    <a class="cnyt" routerLink='/cnyt/cnytmint' routerLinkActive='active'>

      <div>
        <img style="vertical-align: middle" src="./assets/images/united-states.png">
        <label style="vertical-align: middle">AcmeUSD</label>
      </div>
      <div>{{usdBalance}}</div>
    </a>
  </nav>
</div>
