<app-admin-leftnav></app-admin-leftnav>

<div class="container">
  <div class="top">
    <div class="topleft">
      <img src="./assets/images/arrow-left.png" alt="">
      <div class="back" (click)="goBack()">Back to Overview</div>
      <div class="titleword">Withdraw</div>
    </div>
    <div class="topmid"></div>
  </div>
  <div class="content">
    <div class="midtip">
      <div class="part1">
        <img src="./assets/images/mint-blue.png">
        <div>Burn</div>
      </div>
      <div class="part2">
        <img src="./assets/images/transfer-white.png">
        <div>Transfer</div>
      </div>
      <div class="heng"></div>
    </div>
    <div class="miduser">
      <div class="userword">USER</div>
      <div class="userbox">
        <div class="boxleft">
          <!--<div class="part1">-->
            <!--<div>Email:</div>-->
            <!--<div class="garyclor">user@gmail.com </div>-->
          <!--</div>-->
          <div class="part2">
            <div>Address: </div>
            <div class="garyclor" *ngIf="withdrawRequest">{{withdrawRequest.address}}</div>
          </div>
        </div>
        <div class="boxright">
          <div class="part1">
            <div class="boxrighttitle">Total Balance</div>
          </div>
          <div class="part2">
            <div>{{userBalance}}</div>
            <div>AcmeUSD</div>
          </div>
        </div>
      </div>
    </div>
    <div class="midrequest">
      <div class="requestword">REQUEST</div>
      <div class="requestbox">
        <div class="boxtitle">
          <div class="titleleft">
            <div>Request Number</div>
            <div class="garyclor">{{withdrawRequest.id}}</div>
          </div>
          <div class="titleright">
            <div>Current Status</div>
            <div class="garyclor">Withdraw Requested</div>
          </div>
        </div>
        <div class="boxcontent">
          <div class="contentleft">
            <div class="part1" fxLayout="row">
              <div class="ligthgarycolor" style="width: 30%">Type:</div>
              <div class="garyclor">Withdraw Request</div>
            </div>
            <div class="part2" fxLayout="row">
              <div class="ligthgarycolor"  style="width: 30%">Date:</div>
              <div class="garyclor">{{withdrawRequest.timestamp * 1000 | date:'medium'}}</div>
            </div>
            <div class="part3" fxLayout="row">
              <div class="ligthgarycolor" style="width: 30%">Currency:</div>
              <div class="garyclor">USD</div>
            </div>
            <div class="part4" fxLayout="row">
              <div class="ligthgarycolor" style="width: 30%">Amount:</div>
              <div class="garyclor">{{withdrawRequest.amount}}</div>
            </div>
            <div class="part5" fxLayout="row">
              <div class="ligthgarycolor" style="width: 30%">Bank:</div>
              <div class="garyclor">BOCHK XXXXXXXXX</div>
            </div>
            <div class="part6" fxLayout="row">
              <div class="ligthgarycolor" style="width: 30%">Payment:</div>
              <div class="garyclor">Wire Transfer</div>
            </div>
            <div class="part7" fxLayout="row">
              <div class="ligthgarycolor" style="width: 30%">Token:</div>
              <div class="garyclor">AcmeUSD</div>
            </div>
          </div>
          <div class="contentrigth">
            <div class="part1" style="margin-bottom: 20px">
              <div style="color: #666A6E;font-size: 14px;margin-bottom: 10px;">Transfer ID:</div>
              <div>{{withdrawRequest.transferId}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="dbutoons">
        <button mat-raised-button color="primary" (click)="burn()"><div class="action">Burn</div></button>
    </div>
    <div class="hideBox" *ngIf="toggle">
      <img src="./assets/images/error_outline_black.png" alt="">
      <span class="white">System processing… Please select complete and go back to overview. Result will be updated on overview shortly. </span>
      <span class="blue">COMPLETE</span>
    </div>
  </div>
</div>
