.leftnav {
  position: fixed;
  width: 250px;
  height: 100%;
  border-right: 2px solid #9AA1A7;
  background-color: #DBE4EB;
}
.container {
  margin-left: 250px;
  padding: 20px;
}
.userbox img {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 40%;
  margin-bottom: 50px;
}
.userbox {
  font-size: 12px;
  padding-bottom: 60px;
}
.userbox .username,.useraddress {
  display: flex;
  margin: 10px;
  margin-left: 20%;
  font-weight: bold;
}

.userbox .username label {
  color: #666A6E;
  width: 80px;
}

.userbox .username div {
  color: #666A6E;
}

.userbox .useraddress label {
  color: #666A6E;
  width: 80px;
}
.userbox .useraddress div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 20px;
  color: #666A6E;;
}
.leftmid {
  width: 100%;
}
.leftmid .cnyt,.hkdt {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  display: flex;
  padding: 20px;
  padding-left: 50px;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #9AA1A7;
  border-bottom: 2px solid #9AA1A7;;
  cursor: pointer;
  color: #666A6E;
}
/*.leftmid .cnyt:hover {
  background-color: #e2e5ea;
}

.leftmid .hkdt:hover {
  background-color: #e2e5ea;
}*/
.leftmid .hkdt {
  border-top: 0;
}
.leftmid .circle {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #c6c9ce;
  position: absolute;
  left: 10px;
}

nav a.active {
  background-color: #e2e5ea
}


.title {
  font-weight: bold;
}
.zhixian {
  margin-bottom: 40px;
}
.zhixian .zhixiandate {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.zhixian .zhixiandate span {
  color: #8090a5;
}
.zhixian .zhixiandate .buttons button {
  width: 22px;
  height: 25px;
  color: #cccfd4;
  background-color: #f8fafc;
  outline: 0;
  border: 0;
  border: 1px solid #cccfd4;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
}
.zhixian .charts img {
  width: 100%;
}

.request nav {
  margin-top: 20px;
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.request nav a {
  margin-right: 20px;
  padding-bottom: 10px;
}
.request nav a.active {
  border-bottom: 2px solid black;
  font-weight: bold;
}
.dbuttons {
  width: 100%;
  display: flex;
  justify-content: center;
}
.dbuttons a {
  color: white;
  width: 120px;
  height: 30px;
  background: #4a4a4a;
  text-align: center;
  margin: 20px;
  text-decoration: none;
  line-height: 30px;
  border-radius: 3px;
}


.contenttitle {
  color: #666A6E;
  margin-bottom: 20px;
}
ul {
  padding-left: 0;
}
ul li {
  margin-bottom: 10px;
  border: 1px solid #dbdbdb;
  cursor: pointer;
}
.borderb {
  border: 1px solid black;
}
.backgroundb {
  background: #f1f2f3;
}
.head {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.head .headlfet {
  padding-left: 50px;
  position: relative;
}
.head .headlfet .circle {
  width: 20px;
  height: 20px;
  border: 1px solid #767676;
  border-radius: 50%;
  position: absolute;
  left: 7px;
  top: 7px;
}
.head .headlfet .headlfettitle {
  font-size: 14px;
  color: #6B6F73;
}
.head .headlfet .date {
  display: flex;
  font-size: 8px;
  color: #9b9b9b;
}
.head .headright {
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
  padding-right: 20px;
  color: #666A6E;
  display: flex;
}
/* .head .headright img {
  width: 21px;
  height: 12px;
  margin-left: 55px;
  margin-top: 3px;
  cursor: pointer;
} */
.arrowt {
  width: 21px;
  height: 12px;
  margin-left: 20px;
  margin-top: 3px;
  cursor: pointer;
  background-size: 100%;
}
.arrowb {
  width: 21px;
  height: 12px;
  margin-left: 20px;
  margin-top: 3px;
  cursor: pointer;
  background-size: 100%;
}
.graycolor {
  color: #9b9b9b;
}
.blackcolor {
  color: black;
  font-weight: bold;
}
.hidebox {
  display: flex;
  padding: 20px 0;
  border-top: 1px solid black;
}
.hideleft {
  width: 50%;
  padding-left: 55px;
  border-right: 1px solid black;
}
.hideight {
  width: 50%;
}
.first,.second,.third{
  display: flex;
  margin-left: 30px;
}
.hidebox span {
  margin-bottom: 10px;
}
.hidebox .hideleft span:nth-of-type(1) {
  width: 50%;
}
.hidebox .hideight span:nth-of-type(1) {
  width: 50%;
}
.mat-raised-button {
  background-color: #1DA2FE;
  margin-left: 100px;
}
.mat-raised-button:nth-of-type(1) {
  margin: 0;
}
.action {
  color: #ffffff;
}
