<app-gateway-leftnav></app-gateway-leftnav>
<div class="container">
  <div class="title">
    <img src="./assets/images/arrow-left.png" alt="">
    <div class="back" (click)="goBack()">Back</div>
    <div class="titleword">DEPOSITS</div>
  </div>
  <div class="midtip">
    <img src="./assets/images/submit-white.png">
    <img src="./assets/images/transfer-white.png">
    <img src="./assets/images/mint-white.png">
    <div class="heng"></div>
  </div>
  <div class="midword">
    <div>Submit</div>
    <div>Transfer</div>
    <div>Mint</div>
  </div>
  <div class="midcontent">
    <div class="part1">
      <div>Our Operator is verifying your requests, please wait.</div>
    </div>


  </div>
  <div class="dbutoons">
    <button mat-raised-button routerLink="/en-US/gateway/dashboard">
      <div class="action">Done</div>
    </button>
  </div>

</div>
