<div class="container">
  <p class="tilte">Asset Gateway</p>
  <p class="content">We firmly believe decentralized exchanges will dominate the cryptocurrency market. We plan to lead
    the march toward this future through OAX, which will be fully open sourced, transparently governed, and kickstarted
    by ANX's technology, experience in operating an exchange, infrastructure, and wide network of users.</p>
  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button (click)="signin()"><span class="action"> Sign in </span></button>
    <button mat-raised-button routerLink="account/register"><span class="action"> Sign up </span></button>
  </div>
</div>

