
/*
.wap{
  width: 92vw;
}

.app-name{
  font-size: 2.5vw;
  margin-top: 5vh;
  margin-left: 1vw;
}

.promotions{
  .item{
    width: 28vw;
    height: 18vw;
    border: 1px solid ghostwhite;
    font-size: 2.3vw;
    background-color: #d8d8d8;
  }
}

.split{
  font-size: 1vw;

  .left{
    margin-left: 1vw;
    font-weight: 900;
  }
  .right{
    margin-right: 1vw;
  }
}

.gateways{
  .item{
    width: 29.3vw;
    height: 15vw;
    border: 1px solid ghostwhite;
    font-size: 1vw;
    background-color: #d8d8d8;

    .title{
      font-size: 1.5vw;
    }

  }
}*/

.container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 150px auto;
}
p {
  text-align: center;
  font-family: "futura-light";
}
.tilte {
  font-size: 24px;
}
.content {
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Helvetica Neue";
  color: #9AA1A7;
}
.mat-raised-button {
  background-color: #1DA2FE;
  margin-left: 100px;
}
.mat-raised-button:nth-of-type(1) {
  margin: 0;
}
.action {
  color: #ffffff;
}


