.container {
  margin-left: 250px;
  padding: 40px 0  20px 0;
  .top {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    .topleft {
      color: #666A6E;
      width: 20%;
      margin: 10px 0 0 20px;
      padding-left: 20px;
    }
    .topmid {
      width: 50%;
      position: relative;
      img {
        left: 5px;
        top: 12px;
        position: absolute;
      }
      .midinput {
        height: 20px;
        width: 100%;
        outline: 0;
        padding: 7px;
        padding-left: 20px;
      }
    }
    .topright {
      display: flex;
      width: 20%;
      box-sizing: border-box;
      padding-left: 60px;
      img:nth-of-type(1) {
        width: 16px;
        height: 20px;
        margin-top: 3px;
      }
      img:nth-of-type(2) {
        width: 20px;
        height: 20px;
        margin-left: 10px;
        margin-top: 3px;
      }
      img:nth-of-type(3) {
        width: 12px;
        height: 9px;
        margin-left: 10px;
        margin-top: 8px;
      }
    }
  }
  .garyclor {
    color: #666A6E;
  }
  .content{
    width: 100%;
  }
}

















