<app-gateway-leftnav></app-gateway-leftnav>
<div class="container">
  <div class="title">
    <img src="./assets/images/arrow-left.png" alt="">
    <div class="back" (click)="goBack()">Back</div>
    <div class="titleword">DEPOSITS</div>

  </div>
  <div class="midtip">
    <img src="./assets/images/submit-blue.png">
    <img src="./assets/images/transfer-white.png">
    <img src="./assets/images/mint-white.png">
    <div class="heng"></div>
  </div>
  <div class="midword">
    <div>Submit</div>
    <div>Transfer</div>
    <div>Mint</div>
  </div>
  <div class="midcontent">
    <div class="part1">
      <div>Payment: </div>
      <div class="garyclor">Wire Transfer</div>
    </div>
    <div class="part2">
      <div>Currency: </div>
      <div class="garyclor">USD</div>
    </div>
    <mat-form-field class="part3">
      <input matInput placeholder="Amout" type="text" [(ngModel)]="model.amount">
    </mat-form-field>
  </div>
  <div class="dbutoons">
    <button mat-raised-button (click)="submit()">
      <div class="action">Next</div>
    </button>
  </div>

</div>
