.container {
  margin-left: 250px;
  padding: 20px;
}
.title {
  cursor: pointer;
  color: #666A6E;
  font-size: 18px;
  display: flex;
  margin-top: 40px;
  border-bottom: 1px solid #DBE4EB;
  padding-bottom: 10px;
  img {
    width: 8px;
    height: 13px;
    margin: 5px 0 0 10px;
  }
  .back {
    width: 20%;
    padding-left: 5px;
  }
  .titleword {
    width: 55%;
    text-align: center;
  }
}
.midtip {
  display: flex;
  justify-content: space-between;
  margin: 250px;
  margin-top: 50px;
  margin-bottom: 0;
  position: relative;
  img {
    width: 52px;
    height: 52px;
    z-index: 2;
  }
  .heng {
    width: 100%;
    height: 5px;
    background-color: #DBE4EB;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
.midword {
  display: flex;
  justify-content: space-between;
  margin: 10px 250px;
  color: #666A6E;
  padding-right: 10px;
}
.garyclor {
  color: #9AA1A7;
}
.midcontent {
  color: #666A6E;
  width: 40%;
  margin: 0 auto;
  margin-top: 50px;
  .part1 {
    //display: flex;
    //margin-bottom: 40px;
    display: flex;
    //margin-bottom: 40px;
    //font-size: 28px;
    width: 100%;
    .mat-select-trigger{
      min-width: 205px;
    }
  }
  .part2 {
    display: flex;
    //margin-bottom: 40px;
    font-size: 20px;
    width: 100%;
  }
  .part3 {
    display: flex;
    //margin-bottom: 30px;
    font-size: 20px;
    width: 215px;
    justify-content: space-between;
    border-bottom: 1px solid #666A6E;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-bottom: 10px;
    cursor: pointer;
    //z-index: 2000;
    span {
      color: #666A6E;
    }
    img{
      width: 22px;
      height: 16px;
    }
  }
  .part4 {
    display: flex;
    margin-bottom: 40px;
  }
}
.dbutoons {
  width: 100%;
  display: flex;
  justify-content: center;

  .action {
    color: white;
    background-color: #1DA2FE;
  }
}
.mat-raised-button {
  padding: 0;
}
.mat-input-wrapper.mat-form-field-wrapper {
  width: 100%;
}

#bg{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  opacity: .7;
}
#show{
  position: absolute;
  top: 17%;
  left: 33%;
  // width: 40%;
  // height: 72%;
  width: 500px;
  height: 500px;
  background-color: white;
  padding: 20px 10px;
  box-sizing: border-box;
  z-index:1002;
  overflow: auto;
  .showtitle{
    color: #9B9B9B;
    border-bottom: 1px solid rgba(0, 0, 0, 0.54);
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .showmian{
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    .mianleft{
      font-size: 16px;
      display: inline;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
    .showbutton{
      .action{
        color: white;
      }
      .addbutton{
        margin-top: 10px;
        background-color: #1DA2FE;
        margin-bottom: 15px;
      }
      .cancelbutton{
        background-color: #666A6E;
      }
    }
  }
}
