<!--<mat-card style="width: 80vw; height: 100%;">-->
<app-gateway-leftnav></app-gateway-leftnav>
<div class="container">
  <div class="title">
    <img src="./assets/images/arrow-left.png" alt="">
    <div class="back" (click)="goBack()">Back</div>
    <div class="titleword">Withdraw</div>

  </div>
  <div class="midtip">
    <img src="./assets/images/submit-blue.png">
    <img src="./assets/images/transfer-white.png">
    <img src="./assets/images/mint-white.png">
    <div class="heng"></div>
  </div>
  <div class="midword">
    <div>Submit</div>
    <div>Transfer</div>
    <div>Burn</div>
  </div>
  <div class="midcontent">

    <mat-form-field class="part2">
      <input [(ngModel)]="model.amount" matInput placeholder="Amout" type="text">
    </mat-form-field>

    <div class="part3" (click)="showdiv()">
      <span>Bank Account</span>
      <img src="./assets/images/person_add.png" alt="">
    </div>
  </div>
  <div class="dbutoons">
    <button mat-raised-button (click)="submit()">
      <div class="action">Next</div>
    </button>
  </div>

</div>

<div id="bg" *ngIf="isshow" (click)="hidediv()"></div>
<div id="show" *ngIf="isshow">
  <div class="showtitle">
    Add Bank Accounts
  </div>
  <div class="showmian">
    <div class="mianleft">
      <mat-form-field class="part1">
        <input matInput placeholder="Account Number" type="text">
      </mat-form-field>
      <mat-form-field class="part2">
        <input matInput placeholder="AccountHolder Name" type="text">
      </mat-form-field>
      <mat-form-field class="part3">
        <input matInput placeholder="Method" type="text">
      </mat-form-field>
      <!--<mat-select placeholder="Method" class="part3">
        <mat-option value="Method1">Method1</mat-option>
        <mat-option value="Method2">Method2</mat-option>
      </mat-select>-->
      <mat-form-field class="part4">
        <input matInput placeholder="Beneficiary Bank Name" type="text">
      </mat-form-field>
      <mat-form-field class="part5">
        <input matInput placeholder="Currency" type="text">
      </mat-form-field>
      <mat-form-field class="part6">
        <input matInput placeholder="Alias Name" type="text">
      </mat-form-field>


    </div>
    <div class="showbutton">
      <button mat-raised-button class="addbutton" (click)="hidediv()">
        <div class="action">Add</div>
      </button>
      <button mat-raised-button class="cancelbutton" (click)="hidediv()">
        <div class="action">Cancel</div>
      </button>
    </div>
  </div>
</div>
