.container {
  margin-left: 250px;
  padding: 20px;
}
.title {
  cursor: pointer;
  color: #666A6E;
  font-size: 18px;
  display: flex;
  margin-top: 40px;
  border-bottom: 1px solid #DBE4EB;
  padding-bottom: 10px;
  img {
    width: 8px;
    height: 13px;
    margin: 5px 0 0 10px;
  }
  .back {
    width: 20%;
    padding-left: 5px;
  }
  .titleword {
    width: 55%;
    text-align: center;
  }
}
.midtip {
  display: flex;
  justify-content: space-between;
  margin: 250px;
  margin-top: 50px;
  margin-bottom: 0;
  position: relative;
  img {
    width: 52px;
    height: 52px;
    z-index: 2;
  }
  .heng {
    width: 100%;
    height: 5px;
    background-color: #DBE4EB;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
.midword {
  display: flex;
  justify-content: space-between;
  margin: 10px 250px;
  color: #666A6E;
  padding-right: 10px;
}
.midcontent {
  display: flex;
  width: 100%;
  margin-top: 50px;
  justify-content: center;
  .part1 {
    display: flex;
    margin-bottom: 100px;
  }

}
.dbutoons {
  margin-top: 75px;
  width: 100%;
  display: flex;
  justify-content: center;

  .action {
    color: white;
    background-color: #1DA2FE;
  }
}
.mat-raised-button {
  padding: 0;
}

.beforeDrop {
  width: 100px;
  height: 200px;
  border: 1px solid black;
}
