.content{
  width: 450px;
  height:500px;
  font-family: Helvetica Neue;
}


.field{
  width: 20vw;
}
.title{
  font-size: 18px;
  margin-bottom: 70px;
  margin-top: 15px;
}
.useremail {
  margin-bottom: 20px;
  color: #6B6F73;
}
.useradd{
  margin-bottom: 20px;
  color: #6B6F73;
}
.mat-raised-button {
  background-color: #1DA2FE;
  font-size: 16px;
  width: 10%;
  align-self: flex-end;
  margin-top: 30px;
  margin-bottom: 20px !important;
}

.action {
  line-height: 20px;
  color: #fff;
  margin-top: 25px;
}

