<p class="content" fxLayout="column" fxLayoutAlign="center center" style="width: 100%; height: 100%;">
  <mat-card fxLayout="column" fxLayoutAlign="center space-between">
<p class="title">Sign Up</p>
<mat-form-field class="field">
  <input matInput placeholder="Email" type="email" [(ngModel)]="model.username" #email="ngModel">
</mat-form-field>
<mat-form-field class="field">
  <input matInput placeholder="Password" type="password" [(ngModel)]="model.password">
</mat-form-field>

<mat-form-field class="field">
  <input matInput placeholder="Ethereum Address" [(ngModel)]="model.ethereumAddress">
</mat-form-field>
<button mat-raised-button color="primary" (click)="signup()"><span
  class="action"> Send </span></button>
</mat-card>
</p>
