.leftnav {
  position: fixed;
  width: 250px;
  height: 100%;
  background-color: #666A6E;
  .title {
    background-color: #1DA2FE;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: white;
    font-size: 22px;
  }
  .opation {
    padding-left: 50px;
    box-sizing: border-box;
    color: #9AA1A7;
    font-size: 18px;
    cursor: pointer;
    .part1{
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .part2{
      display: flex;
      margin-bottom: 30px;
      color: white;
      div {
        margin-left: 10px;
      }
    }
    .part3 {
      display: flex;
      margin-bottom: 30px;
      div {
        margin-left: 10px;
      }
    }
    .part4 {
      display: flex;
      margin-bottom: 30px;
      div {
        margin-left: 10px;
      }
    }
    .part5{
      display: flex;
      div {
        margin-left: 10px;
      }
    }
  }
}
